body {
	background-color: #fff;
	max-width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	font-weight: 400;
	font-size: 12px;
	text-align: center;
	color: #000;
	margin: 0 0 30px 0;
}

.frame1 {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.frame2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	flex: 100%;
	height: 100px;
	margin-bottom: 35px 0 35px 0;
}

.races {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.races img {
	max-width: 100%;
	margin-bottom: 35px;
	margin-top: 35px;
	border-radius: 40px;
}

.teams {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.teams img {
	display: block;
	max-width: 100%;
	flex: 100%;
	align-items: center;
	margin: 5px 5px 30px 5px;
}

.button {
	display: flex;
	flex-direction: row;
}

.prev {
	padding-top: 10px;
	margin-right: 15px;
}

.next {
	padding-top: 10px;
	margin-left: 15px;
}

.link {
	background-color: #FF0000;
	border: none;
	border-radius: 50px;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 35px 0;
	padding: 20px 60px;
}

.link:active {
	box-shadow: 0 0 20px 0 rgb(228, 24, 24);
	color: #ffffff88;
}

a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}